.paginationBtn {
    background-color: rgba(102,181,198,1)!important;
    color: #fff!important;
}

.paginationBtn:focus {
    box-shadow: none;
}

.paginationBtn:hover {
    background-color: rgba(58,58,185,1)!important;
    border-color: rgba(63, 81, 181, 0.5);
    transform: scale(1.1)!important;
    transition: all 300ms;
}