img {
    display: block;
    width: 100%;
    height: auto;
}

.likeCommentBtn {
    color: black;
    font-weight: bold;
    font-size: 17px;
    outline: none!important;
    text-transform: none!important;
}

.likeCommentBtn:hover {
    color: rgba(102,181,198,1);
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

.btn-grad {background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%)}
.btn-grad {
   padding: 10px 35px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
   font-weight: 500;            
   box-shadow: 0 0 20px rgb(0, 0, 0);
   border-radius: 10px;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
 