.post-cover-image {
    background-image: url(../../Img/Trip3.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 150px 20px;
    box-sizing: border-box;
}

.post-box {
    background-color: #f3f1f1;
    max-width: 700px;
    margin: auto;
}

.post-photo {
    background-size: cover;
    background-position: center;
    width: auto;
    max-width: 700px!important;
    height: auto;
}

.user-photo {
    background-image: url(../../Img/userphoto.png);
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.postDateCreated {
    font-size: 13px;
    color: #606060;
}

.likeCommentBtn {
    color: black;
    font-weight: bold;
    font-size: 17px;
}

.likeCommentBtn:hover {
    color: #662a81;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

.fa-heart {
    color: red;
}