.userListUser {
  display: flex;
  align-items: center;
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit {
  margin-right: 20px !important;
}

.userListDelete {
  border-radius: 16px !important;
  margin-left: 20px !important;
}
