.forum-image {
  background-image: url(../../Img/18998.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 100px 20px;
  box-sizing: border-box;
}

.seperate {
  border-right: 2px solid rgba(0, 0, 0, 0.05);
}

.link:hover {
  color: rgba(102, 181, 198, 1);
}

@media screen and (max-width: 959px) {
  .seperate {
    border-right: 2px solid rgba(0, 0, 0, 0);
  }
}
