.page-footer {
    background-color: #1c2331;
}

.social-bar {
    background-color: #6351ce;
}

.underline {
    background-color: #6351ce;
    width: 60px;
}

.footer-copyright {
    background-color: rgba(0, 0, 0, 0.2);
}