/* .user-photo-comments {
    background-image: url(../../Img/userphoto3.png);
    background-size: cover;
    background-position: center;
    width: 80px;
    height: 80px;
    color: rgb(192, 190, 190);
} */
